/***********************************************************************************************/
/* General */
/***********************************************************************************************/
body {
  margin-top: 3em;
}
/***********************************************************************************************/
/* Custom */
/***********************************************************************************************/
.custom-cols {
  background-color: #ffe5e0;
  display: block;
  height: 200px;
}
/*[class*="span"] {
  background-color: #AAE1EE;
}*/
.dark {
  background-color: #2ab4d5;
}
