<meta charset="utf-8">
<title><%= title %></title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Stylesheets -->
<link rel='stylesheet' href='/stylesheets/html5_reset.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
