<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" class="brand"><%= title %></a>
				<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar collapsed">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="/site/osf/Mens">Men</a></li>
						<li><a href="/site/osf/Womens">Women</a></li>
						<li><a href=""><span class="divider">/</span></a></li>

						<% if (logged !=1) { %>

						<li id="login"><a href="#logInModal">Log In</a></li>
						<li id="signup"><a href="#signUpModal">Sign Up</a></li>

						<% } else { %>

						<li id="logout"><a href="#logOutModal">Log out</a></li>
						<li><a href=""><img src="/images/shopping-cart.png" width="20px" height="20px" style="display: inline-block"></a></li>
						<li><a href=""  width="20px" height="20px" style="display: inline-block">Welcome, <%= user %> !</a></li>

						<% } %>
					</ul>

				</div>
			</div>
		</div>
</div>

<!-- Log Out Modal Window -->
 
<div class="modal hide fade" id="logOutModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h3>Log Out</h3>
			</div>
			<div class="modal-body">
				<form action="/logout" method="post">
					<p>You are now logged out.</p>
					<p>Have a good day, <%= user %> !</p>
				</form>
			</div>
		</div>
	</div>
</div> <!-- end of log out modal window -->


<!-- Log In Modal Window -->

<div class="modal hide fade" id="logInModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h3>Log In</h3>
			</div>
			<div class="modal-body">
				<form method="post" action="/login">
					<div class="form-group">
						<input type="text" name="username" placeholder="Username.." id="userLogin" class="form-control">
					</div>
					<br>
					<div class="form-group">
						<input type="password" name="password" placeholder="Password.." id="passwordLogin" class="form-control">
					</div>
					<br>
					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" id="checkbox"> Remember me</label>
						</div>
					</div>
					<br>
					<div  class="form-group" style="float:left">
						<div>
						  <button id="loginBtn" class="btn btn-primary" type="submit" onClick="remember_me()" >Log In</button>
						</div>
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-primary" onclick="window.opener.location.reload();tb_remove()" >Cancel</a>
			</div>
		</div>
	</div>
</div><!-- end of login modal window -->


<!-- Sign Up Modal window -->

<div class="modal hide fade" id="signUpModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h3>Sign Up</h3>
			</div>
			<div class="modal-body">
				<form method="post" action="/signup">
					<div class="form-group">
						<input type="text" name="username" placeholder="Username.." id="userSignup" class="form-control">
					</div>
					<br>
					<div class="form-group">
						<input type="password" name="password" placeholder="Password.." id="passwordSignup" class="form-control">
					</div>
					<br>
					<div class="form-group">
						<input type="email" name="email" placeholder="Email address.." id="emailSignup" class="form-control">
					</div>
					<br>
					<div class="form-group ">
						<input type="text" name="firstname" placeholder="First name.." id="firstNameSignup" class="form-control">
					</div>
					<br>
					<div class="form-group ">
						<input type="text" name="lastname" placeholder="Last name.." id="lastNameSignup" class="form-control">
					</div>
					<br>
					<div  class="form-group" style="float:left">
						<div>
						  <button class="btn btn-primary" type="submit">Sign Up</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-primary">Cancel</a>
			</div>
		</div>
	</div>
</div><!-- end of signup modal window -->



